<% @title = "Quotes from Prash" %>

<div class="container">
  <div class="page-header">
    <h2 style="color:black">Quotes<small style="color:white"> from Prash</small></h2>
  </div>

  <div class="hero-unit">
    <blockquote>
      Is it terrible for the lottery winner to splurge? We’re human, we are entitled to our indulgences.
    </blockquote>

    <blockquote>
      It’s about hurdling obstacles and moving forward. When an ex-Clevelander comes back home to make a difference in the lives of our denizen [sic], we are allowed to celebrate the narrative.
    </blockquote>

    <blockquote>
      Powerpoint has singlehandedly destroyed the quality and didactic nature of the common classroom lecture.
    </blockquote>

    <blockquote>
      People misunderstand pensiveness amongst company to mean that something's wrong. Maybe it's an appreciation of how everything's right.
    </blockquote>

    <blockquote>
      The most interesting man in the world's prerogative is to show cold indifference to most interesting things?
    </blockquote>
  
  </div>
</div>

<script>$('body').addClass('home-page');</script>