<% @title = "Quotes from Prash" %>
<div class="container">
  <div class="page-header">
    <h2 style="color:white">Quotes<small> from Prash</small></h2>
  </div>
  <div class="hero-unit">
    <blockquote>
      Is it terrible for the lottery winner to splurge? We’re human, we are entitled to our indulgences.
    </blockquote>

    <blockquote>
      It’s about hurdling obstacles and moving forward. When an ex-Clevelander comes back home to make a difference in the lives of our denizen [sic], we are allowed to celebrate the narrative.
    </blockquote>

    <blockquote>
      Ohio is a rustbelt state that hasn't picked it's shit up like the others. We have so much economic development to undergo. Cleveland Clinic, Ohio State, UC hospitals are trying their best.
    </blockquote>
  
  </div>
</div>


<script>$('body').addClass('home-page');</script>