

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">#occupychen</h1>
                        <p class="intro-text"></p>
                        <div class="page-scroll" style="padding-top: 100px">
                            <a href="#about" class="btn btn-basecamp-mod">
                                Join
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Welcome</h2>

                <p><strong>#occupychen</strong> is a people-powered movement that began on January 1, 2014 on the second floor of Vanderbilt Hall. It has since spread to all floors. <strong>#occupychen</strong> is fighting back against the power of single individuals over the democratic process that is science. Our fight is driven by individuals like you coming together to create real change from the bottom up.</p>
            </div>
        </div>
    </section>

    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>More info coming soon.</h2>
                    <%= link_to root_path, class: "btn btn-large btn-basecamp myButton" do %>
                      Go Back
                    <% end %>
                </div>
            </div>
        </div>
    </section>

</body>