

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <section class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="page-scroll" style="padding-top: 100px">
                            <a href="#about" class="btn btn-basecamp-mod">
                                Enter
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Welcome</h2>

                <p>Welcome to the support page for <strong>SMS Directions</strong>. SMS Directions provides a way to send text directions to family, friends, and strangers. Simply add the start and end addresses, get the route, and text out the directions. Currently, this app features driving and walking directions. Please email comments or queries to <strong>Sachin Patel</strong> at sachin_patel@hms.harvard.edu.</p>

            </div>
        </div>
    </section>

    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <%= link_to root_path, class: "btn btn-large btn-basecamp myButton" do %>
                      Go Back
                    <% end %>
                </div>
            </div>
        </div>
    </section>

</body>