@import "bootstrap";
@import url("//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
@import url("//fonts.googleapis.com/css?family=Montserrat:400,700");

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif !important;
    color: #fff;
    font-size: 14px !important;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    line-height: 1.4 !important;
    font-size: 14px !important;
    font-family: sans-serif !important;

}

a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
  background: transparent;
}

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  /*background-color: #f0f7fd;*/
  border-color: #d0e3f0;
}

a {

  color: #000 !important;
  &:visited {
    color: #000 !important;
  }
  &:hover {
    color: #6D757A !important;
    background-color: transparent !important;
    text-decoration: none !important;
  }
}

body.home-page {
  background-image: image-url('prash.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-opacity: 0.4;
}

body.faces-page {
  background-image: image-url('rohit_cover.png');
  background-size: 15%;
  background-opacity: 0.4;
}

.hero-unit{
    background-color: rgba(255, 255, 255, .4); // use rgba and set Opacity to 0 for transparent.
 }

 blockquote {
    border-color: #ddd;
}

.text-muted {
    color: #999;
}

.container .text-muted {
  margin: 20px 0;
}

.vcenter {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

@import "bootstrap-responsive";